<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <!-- MAIN SCREEN -->
    <div class="main-screen">
        <!-- NAVBAR -->
        <%- include('./partials/navbar') %>
            <!-- End Navbar -->

</body>

</html>